<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BCOE Transfer Student Center Sign-In</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald&family=Fira+Sans&family=Open+Sans&display=swap"
      rel="stylesheet">
    <link href="./static/css/main.css" rel="stylesheet" type="text/css" />
    <link href="./static/css/success.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="container">
      <div class="welcome-box-background">
        <div class="welcome-box">
          <div>
            <img src="./static/img/ucr-logo.png" alt="UCR Logo"  class="ucr-logo">
          </div>
          <div>
            <h1 class="welcome-title"></h1>
            <h3 class="time"></h3>
          </div>
        </div>
      </div>
    </div>

    <p id="made-with">Made with ❤️ by Jaired Jawed.</p>
    <script src="./static/js/success.js"></script>
  </body>
</html>
